<img id="cardslogosm" src="~/images/cards_against_white_crop.png" alt="cards against logo"/>
<img id="madlibslogosm" src="~/images/madlibs.png" alt="cards against logo"/>
<h1 class="cardtitle mt-5">Congratulations, ______________ is the Winner! (# Votes)</h1>
<ul>
    <li>List other losers here with their vote count</li>
</ul>

<a href="/card" class="btn btn-light">Play Again?</a>